*{ box-sizing: border-box;}
body{
    background: url("../media/mujercomoras2.jpg");
}
.loginlogo{
    margin-left:35%;
    margin-top:60px;    
}
#formulario{
    background-color: #fff;
    margin-right:35%;
    margin-left:35%;
    margin-top:10px;
    padding-bottom:5px;
}
  h1{
      background-color:#4668af;
      text-align: center;
      color: white;
}

  input[type="text"],
  input[type="password"],
  input[type="email"]{
      font-size:20px;
      font-family: arial;
      width:335px;
      outline: none;      
}

  .input-contenedor{
      width:100%;
      padding-left:25px;
      margin-top:15px;
          
}
  .icon{
      min-width:25px;
      color:#C2C6C8;
}
  .button{
      border: none;
      color:white;
      width:82.5%;
      background-color:#4668af;
      margin-left:54px;
      margin-top: 15px;
      padding-top:15px;
      padding-bottom: 15px;
      text-align: center;
      font-weight: bold;
      outline: none;
      cursor: pointer;
}
p a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
.button:hover{
    background: #04C1A2;
}

.mensajeError{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;    
    text-align:center;
    margin:5px;
    margin-left:29px;
    background-color:#E95050; 
    width:89.5%;
    }
.mensajeloginError{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin:5px;
    margin-left:29px;
    background-color:#E95050;
    width:88%;
}


.terminos{
    margin-left:20px;
    margin-top:25px;
    margin-right:20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and  (max-width:1250px){
    #formulario {
        margin:auto;
        width:100%;        
    }
    .loginlogo{
        left:30%;
        margin:auto;
        width:100%; 

    }
}